.exercise-component {
    font-size: 1.5rem;
    text-transform: capitalize;

    .div {
        span {
            padding-right: 30px;
        }
    }

    .reps {
        height: 3rem;
        width: 3rem;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        line-height: 3rem;
        margin:0 10px;
        text-align: center;
    }
}